<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="mass" default="0.736"/>
	<arg name="gains_file" default="$(find control_launch)/config/so3_control_gains.yaml"/>
	<arg name="robot" default="quadrotor" />
	<!-- <arg name="odom_topic" default="/vicon/f250_ariel/odom" /> -->
	<arg name="use_vicon"  default="false" />
    <!-- <arg name="odom_topic" default="/vins_fusion/imu_propagate" unless="$(arg safe_odom)" /> 
    <arg name="odom_topic" default="/$(arg robot)/safe_odom/odom"  if="$(arg safe_odom)"/> -->
    
    <!-- <arg name="odom_topic" default="/vicon/neurofly1/odom"/> -->
    <arg name="odom_topic" default="/quadrotor_ukf/control_odom"/>
    <!-- <arg name="odom_topic" default="/zedm/zed_node/odom"/> -->
	<!-- <arg name="odom_topic" default="/quadrotor/odom"/> -->

    <!-- <remap from="/zedm/zed_node/odom" to="/quadrotor/odom"/>     -->
	
	<!-- Vicon odometry -->
	<group if="$(arg use_vicon)">
		<include file="$(find mocap_vicon)/launch/vicon.launch"/>
	</group>

    <!-- zed launch -->
    <include file="$(find zed_wrapper)/launch/zedm.launch"/>

    <!-- quadrotor_ukf launch-->
    <include file="$(find quadrotor_ukf)/launch/quadrotor_ukf.launch">
        <arg name="launch_prefix" value=""/>
        <arg name="odom_frame_id" value="odom"/>
        <arg name="imu_rotated_frame_id" value="base_link"/>
        <arg name="imu_frame_id" value="zedm_imu_link"/>
    </include>

	<include file="$(find control_launch)/launch/control_mp.launch">
		<arg name="mass" value="$(arg mass)"/>
		<arg name="gains_file" value="$(arg gains_file)"/>
		<arg name="robot" value="$(arg robot)"/>
		<arg name="odom" value="$(arg odom_topic)" />
	</include>

    <!-- kr sbus interface -->
    <include file="$(find kr_sbus_interface)/launch/sbus_interface.launch">
        <arg name="robot" value="$(arg robot)"/>
    </include>

	<node pkg="tf2_ros" type="static_transform_publisher" name="init_world_odom_transform_pub" args="0 0 0 0 0 0 world odom"/>
</launch>
